<template>
  <div class="container mt-5">
    <h1>Detalles Trabajo</h1>
    <JobDetails :details="details"></JobDetails>
  </div>
</template>

<script>
// @ is an alias to /src
import { jobDetails } from "../services/jobs.service";
import JobDetails from "../components/JobDetails.vue";

export default {
  name: "DetailsView",
  components:{
    JobDetails
  },
  props: {
    id: String,
  },
  data() {
    return {
      details: [],
    };
  },
  mounted() {
    this.detalles();
  },
  methods: {
    async detalles() {
      const response = await jobDetails(this.id);
      this.details = response.data;
    },
  },
};
</script>
