<template>
  <div class="container mt-5">
    <h2>Trabajos</h2>
    <ul class="list-group" v-for="job in jobs" :key="job._id">
      <li 
      @click="jobDetails(job._id)"
      class="list-group-item mb-2 hover">
        {{ job.title}},
        {{ job.salary}}
      </li>
    </ul>
  </div>
</template>

<style>
.hover {
  cursor: pointer;
}
</style>

<script>
// @ is an alias to /src
import { jobList } from "../services/jobs.service";

export default {
  name: 'HomeView',
  data() {
    return {
      jobs: [],
    }
  },
  mounted() {
    this.getJobs();
  },
  methods: {
    async getJobs() {
      const response = await jobList();
      this.jobs = response.data;
    },
    jobDetails(id){
      this.$router.push({name: "details", params:{id}});
    }
  },
}
</script>
