<template>
  <div class="container">
    <div class="card" style="width: 18rem" v-if="details">
      <div class="card-body">
        <h5 class="card-title">{{ details.title }}</h5>
        <p class="card-text">Descripcion: {{ details.description }}</p>
        <p class="card-text">Sueldo: ${{details.salary}}</p>
        <p class="card-text">Posicion: {{details.position}}</p>
        <p class="card-text" v-if=details.isRemote>Remoto</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "JobDetails",
  props: {
    details: Object,
  },
};
</script>
